{% extends 'base.html' %}

{% block title %}
Topics. {{ block.super }}
{% endblock %}

{% load static %}
{% block head_js %}
    <script src="{% static 'docsearch/js/topics.js' %}"></script>
{% endblock %}


{% block javascript %}

<script>
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);
    var sections = "{{sections}}";
    drawChart(sections);
</script>



{% endblock %}


{% block content %}
<div class="wrap-authors">
    <div>
        <div class="page-header">
            <h1>Topics
                <small>Find documents related to chosen topic</small>
            </h1>
        </div>
    </div>

    <!--Div that will hold the pie chart-->
    <div id="chart_div" class="sections-chart"></div>
    <!--div id="barchart_div" class="sections-chart"></div-->

</div>

{% endblock %}
